
{% load static %}


<!doctype html>
<html lang="en">

  <head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

 <link href="{% static 'css/style.css'%}" rel="stylesheet">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <title>{% block title  %} {% endblock  %}</title>
      </head>

      <body>

          {% include 'store/navbar.html'   %}

          <br>
          {% block content %}

          {% endblock content %}

<!--  Scripts-->

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
 <script type="text/javascript" src="{% static 'js/materialize.js'%}"></script>
 <script type="text/javascript" src="{% static 'js/materialize.min.js'%}"></script>
 <script type="text/javascript" src="{% static 'js/init.js'%}"></script>


 <script>
   var el = document.querySelector('.tabs');
   var instance = M.Tabs.init(el, {});
 </script>

</body>
  {% include 'store/footer.html'   %}
</html>
